<div handler-hipay-default-plugin data-handler-hipay-default-plugin-options="{{ hipayConfig|json_encode }}">
    {% block hipay_default_html %}
    <div class="form-group">
        <div id="default-selector"></div>
    </div>
    {% endblock %}
</div>
